.height {
    height: 70.8vh;
    overflow-y: scroll;
}

.customPOsition {
    top: 20px;
    right: 20px;
}

.pointer {
    cursor: pointer;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.absolute-position-0 {
    position: absolute;
    top: 30px;
    right: 30px;
}
